<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>WS2019 Transport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style.css">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name=”theme-color” content=”#D51067”>
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name="Description" content="WorldSkills Transport">
<link rel="apple-touch-icon" sizes="57x57" href="imgs/apple-icon-57x57.png">

<link rel="apple-touch-icon" sizes="60x60" href="imgs/apple-icon-60x60.png">

<link rel="apple-touch-icon" sizes="72x72" href="imgs/apple-icon-72x72.png">

<link rel="apple-touch-icon" sizes="76x76" href="imgs/apple-icon-76x76.png">

<link rel="apple-touch-icon" sizes="114x114" href="imgs/apple-icon-114x114.png">

<link rel="apple-touch-icon" sizes="120x120" href="imgs/apple-icon-120x120.png">

<link rel="apple-touch-icon" sizes="144x144" href="imgs/apple-icon-144x144.png">

<link rel="apple-touch-icon" sizes="152x152" href="imgs/apple-icon-152x152.png">

<link rel="apple-touch-icon" sizes="180x180" href="imgs/apple-icon-180x180.png">

<link rel="icon" type="image/png" sizes="192x192"  href="imgs/android-icon-192x192.png">
<link href="imgs/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="imgs/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="imgs/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="imgs/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="imgs/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

<meta name="apple-mobile-web-app-title" content="Transport">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" ontouchstart="">
   <header>
      <div class="header-side left"></div>
      <h1>Transport</h1>
      <div class="header-side right">
<!--          <a href="#" id="popup-btn">Info</a> -->
      </div>
   </header>
   <div id="popup">
      <div class="content">
         <h3>Info</h3>
         <ul>
            <li>
               <span class="value">20min</span>
               <span class="title">Times</span>
   <!--             <span class="unit">minutes</span> -->
            </li>
            <li>
               <span class="value">18km</span>
               <span class="title">Distance</span>
   <!--             <span class="unit">kilometres</span> -->
            </li>
            <li>
               <span class="value">40~50</span>
               <span class="title">-Seat Buses</span>
   <!--             <span class="unit">seats</span> -->
            </li>
         </ul>
      </div>
      <div class="background"></div>
   </div>
   <main>
      <nav>
         <a v-for="(trip, day) in buses" :id="'btn-2019-08-'+day" v-on:click="showa($event)">
            <span class="day">{{day}}</span>
            <span class="month">Aug</span>
<!--        <span class="year">2019</span> -->
         </a>
      </nav>
      <section v-for="(trip, day) in buses" :id="'bigpage-2019-08-'+day">
         <ul class="way-selector">
            <li v-for="(bus, trip, index) in trip" :id="'btn-2019-08-'+day+'-'+index" v-on:click="showb($event)">
               to {{trip}}
            </li>
         </ul>
<!--          <small class="day">{{day}}</small> -->
         <ul class="way-list" v-for="(bus, trip, index) in trip" :id="'list-2019-08-'+day+'-'+index">
            <li v-for="time in bus">
               <div>
                  <div class="departure">
                     <span class="time">{{time}}</span>
                     <span class="place" v-if="index">Kazan Expo</span>
                     <span class="place" v-else>WS Village</span>
                  </div>
                  <div class="centre">
                     <span>20 min / 18 km</span>
                     <div class="line"></div>
                     <span>40-50 seats</span>
                  </div>
                  <div class="arrival">
                     <span class="time">{{addTime(time,20)}}</span>
                     <span class="place" v-if="index">WS Village</span>
                     <span class="place" v-else>Kazan Expo</span>
                  </div>
               </div>
            </li>
         </ul>
      </section>
   </main>
   <footer>
   </footer>
</div>
<!-- partial -->
  <script src='js/jquery.js'></script>
<script src='js/vue.js'></script>
<script  src="js/script.js"></script>
<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/sw.js')
           .then(function() { console.log("Service Worker Registered"); });
}
</script>
</body>
</html>
